.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100px;
  margin: var(--margin-16);
  border: solid 2px;
  border-radius: 8px;
  font-size: var(--font-40);
  padding-top: var(--padding-45);
  background-color: var(--white);
  letter-spacing: 8px;
  box-shadow:  4px 4px 6px var(--black);
  cursor: grab;
  font-family: var(--font-serif);
}

.card--♥, .card--♦{
  color: var(--dark-red);
}

.cards--row{
  display: flex;
}
