.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 130px;
  margin: var(--margin-16);
  border: solid 2px;
  border-radius: 8px;
  font-size: var(--font-50);
  padding-top: var(--padding-60);
  background-color: var(--white);
  letter-spacing: 8px;
  box-shadow:  2px 2px 4px var(--black);
  cursor: pointer;
  font-family: var(--font-serif);
}

.card--♥, .card--♦{
  color: var(--dark-red);
}

.card:hover{
  transition: all 1s;
  transform: scale(1.1);
}
